@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}
#act-button{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}

#btn-reload {
    position: absolute;
    left: 10px;
    top: 10px;
}

#btn-sync {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-flex;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.content-detail {
    max-height: 170px;
    overflow: scroll;
}

.modal-detail {
    padding: 25px;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#paging {
    text-align: center;
    color: #3498db;
    font-family: monospace;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
